<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dashboard</title>
    <!-- Bootsrap Link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <!-- font link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- My Style Sheet Link -->
    <link rel="stylesheet" href="/css/dashboard-style.css ">
    <!-- responsive css -->
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body>
    <!--**************************Navbar ******************************* -->
    <div class="nav-bar my-flex space-between">
        <div class="left-box my-center ">
            <span id="slide-to" class="ho-circle"><i class="fas fa-bars"></i></span>
        </div>
        <div class="right-box my-flex">
            <div class="nav-item-1 res-hide">Overview</div>
            <div class="nav-item-1 res-hide">Documentation</div>
            <div class="nav-item-1 res-hide">
                <i class="far fa-envelope"></i>
                <div class="nav-drop">
                    <div class="mass-box">
                        <p>Massages</p>
                    </div>

                    <div class="view-box">
                        <a href="#">View All</a>
                    </div>
                </div>
            </div>
            <div class="nav-item-1">
                <i class="fas fa-bell"></i>
                <div class="nav-drop">
                    <div class="mass-box">
                        <p>Alerts</p>
                    </div>
                </div>
            </div>
            <div class="nav-item-1"><i class="fas fa-user"></i></div>
        </div>
    </div>
    <!--**************************sideber ******************************* -->
    <div class="side-bar">
        <div class="sectio">

            <h5>Interface</h5>
            <div class="side-bar-slide-item">
                <div class="drop"><i class="fas fa-tachometer-alt"></i> &nbsp; <a href="/dashboard">Dashboard</a>
                    </Deshboard> <span class="flo-right"><i class=" fas fa-angle-right"></i></span></div>
                <ul class="open-drop">

            </div>
            <div class="side-bar-slide-item">
                <div class="drop"><i class="fas fa-globe"></i> &nbsp; <a href="/"> User Homepage</a></div>

            </div>

            <div class="side-bar-slide-item">
                <div class="drop"><i class="fas fa-th-large"></i> &nbsp; <a href="#">Slider Add</a> <span
                        class="flo-right"><i class=" fas fa-angle-right"></i></span></div>
                <ul class="open-drop">

                </ul>
            </div>
            <div class="side-bar-slide-item">
                <div class="drop"><i class="fas fa-file"></i> &nbsp; Cards <span class="flo-right"><i
                            class=" fas fa-angle-right"></i></span></div>
                <ul class="open-drop">
                </ul>
            </div>
        </div>

        <!--**************************main-body ******************************* -->
        <div class="main-body">

            <!-- footer start -->
            <div class="footer">
                <p>
                    Copyright © Your Website 2021
                </p>


            </div>
        </div>
        <!-- footer end -->
    </div>



    <!--**************************J Quary link ************************** -->
    <script src="assets/js/jquery.js"></script>
    <!--**************************My js link **************************** -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!--**************************chart link **************************** -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>

    <!--**************************chart js link ************************* -->
    <script src="assets/js/chart.js"></script>
    <!--**************************My js link **************************** -->
    <script src="assets/js/main.js"></script>
    <script>
    </script>
</body>

</html>