* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background: #606060;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #adabab;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
}

a {
    color: #000;
}

img {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

.my-flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.my-center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.ho-circle:hover {
    background: #2e2e2e;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 41px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.fas {
    transition: all 0.6s;
}

.icon-rotate {
    transform: rotate(90deg);
}


/* navbar start */

.nav-bar {
    background: #000;
    color: #fff;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 9;
}

.right-box .nav-item-1 {
    padding: 10px 30px;
}

.left-box span {
    margin: 0 20px;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 41px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.nav-item-1 {
    cursor: pointer;
    position: relative;
}

.nav-drop {
    position: absolute;
    top: 80px;
    right: 0;
    color: #000;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 350px;
    border-radius: 4px;
    font-size: 15px;
    visibility: hidden;
}

.nav-rop-add {
    visibility: visible;
    top: 45px;
    transition: 0.4s;
}

.nav-drop p {
    margin: 0;
}

.mass-box {
    background: #6200ea;
    color: #fff;
    margin: 0;
    padding: 10px;
    border-radius: 4px 4px 0 0;
}

.view-box {
    padding: 10px;
    color: #6200ea;
    text-align: right;
}

.view-box:hover {
    background: #ddd;
}

.msg-r-box {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.msg-r-box:hover {
    background: #ddd;
}

.view-box a {
    color: #6200ea;
    font-weight: 500;
    padding-right: 20px;
}


/* navbar end */


/* side bar start */

.side-bar {
    width: 250px;
    height: 100vh;
    overflow-x: auto;
    position: fixed;
    transition: all 0.6s;
    padding: 20px 0;
    background: #fff;
    z-index: 99;
}

.side-bar::-webkit-scrollbar {
    width: 16px;
}

.side-bar::-webkit-scrollbar-thumb {
    background: #606060;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
}

.side-bar::-webkit-scrollbar-thumb:hover {
    background: #adabab;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
}

.side-bar .sectio {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.side-toggle {
    transform: translate(-100%, 0);
}

.side-bar h5 {
    padding: 0 20px;
}

.side-bar-slide-item>div {
    padding: 10px 20px;
    cursor: pointer;
}

.side-bar-slide-item>div:hover {
    background: #ddd;
}

.flo-right {
    float: right;
}

.open-drop {
    margin: 0;
    padding: 0;
    display: none;
}

.open-drop li {
    padding: 10px 52px;
}

.open-drop li:hover {
    background: #ddd;
}


/* side bar end */


/* main body start */

.main-body {
    background: #f5f5f5;
    margin-left: 250px;
    transition: all 0.6s;
    padding: 20px;
}

.main-body-ww {
    margin-left: 0;
}

#filter-type {
    padding: 0 20px;
    padding-bottom: 12px;
}

.filter fieldset {
    height: 59px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #989898;
    transition: 0.3s;
}

.filter fieldset:focus {
    border-color: blue;
}

.filter fieldset:hover {
    border: 1px solid #000;
}

.filter fieldset legend {
    margin-left: 15px;
}

.filter {
    position: relative;
}

.filter-drop {
    position: absolute;
    background: #fff;
    width: 100%;
    padding: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
    z-index: 1;
}

.filter-drop li {
    padding: 10px 20px;
    cursor: pointer;
}

.filter-drop li:hover {
    background: #ddd;
}


/* card css */

.dash-inner-card {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 28px;
}

.f-left-border {
    border-left: 4px solid #6200ea;
}

.f-icon-color {
    background: #6200ea;
}

.s-icon-color {
    background: #ffb300;
}

.s-left-border {
    border-left: 4px solid #ffb300;
}

.t-icon-color {
    background: #9c27b0;
}

.t-left-border {
    border-left: 4px solid #9c27b0;
}

.fo-icon-color {
    background: #26a69a;
}

.fo-left-border {
    border-left: 4px solid #26a69a;
}

.dash-inner-card p {
    margin: 0;
}

.dash-icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    display: block;
    color: #fff;
}


/* card end */


/* bar charts start */

#myChart2 {
    width: 100%!important;
    height: 100%!important;
    object-fit: contain;
}

#myChart {
    width: 100%!important;
    height: 100%!important;
    object-fit: contain;
}

.ful-chart-b {
    height: 364px;
}

.bar-chart {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4px;
    margin-top: 28px;
}

.bar-chart p,
.bar-chart h4 {
    margin: 0;
}

.bar-chart .ravanu-box {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.bar-chart .ravenu-box-2 {
    padding: 20px;
}

.open-chart-repo {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #ddd;
    font-weight: 600;
}

.open-chart-repo:hover {
    background: #dededd;
}

.open-chart-repo a {
    color: #6200ea;
}

.ful-chart-ba {
    height: 470px;
    display: flex;
    align-items: center;
}

.Account-Storage .line {
    width: 100%;
    height: 4px;
    background: #6200ea;
    margin-top: 20px;
}

.secu-img img {
    height: 125px;
}


/* filter table */

.filter-table {
    padding: 20px;
    border-top: 1px solid #ddd;
}

.tabe-hehhe {
    padding: 20px;
}

.rr-tabe {
    padding: 20px;
}

.paginaton-table {
    padding: 0 20px 20px 20px;
}

table {
    margin: 0!important;
}

.btn-colo {
    border: 1px solid #ddd;
    color: #6200ea;
}

.btn-colo:hover {
    background: #dededd;
}

.btn-co-ac {
    background: #6200ea;
    color: #fff;
}

.footer {
    text-align: center;
    padding: 20px 20px 0 20px;
    border-top: 1px solid #ddd;
    margin-top: 40px;
}

.footer p {
    margin: 0;
}


/* bar charts end */


/* main body end */